/****************************************
*										*
*		------------------------- 		*
*		Front-end News Stylesheet 		*
*		-------------------------		*
*										*
*										*
*****************************************

body {
	
}

h1, h2, h3, h4, h5, h6, {
	
}

ol {
	
}

li {
	
}

p {
	
}

a {
	
}

/************
*   Hero    *
************/

.hero {
	background-color: #311B92;
	color: #fff;
	padding: 20px 0;
	text-align: center;
}

/************
*   Logo    *
************/

.logo {
	font-size: 34px;
	font-weight: bold;
	text-transform: uppercase;
}